/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #e3f2fd;
}

.chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #34495e;
    transition: all 0.2s ease;
    overflow: hidden;
}

.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.chatbot-toggler i {
    color: #fff;
    font-size: 24px; /* Adjust FontAwesome icon size */
}

.show-chatbot .chatbot-toggler i.fa-comments,
.chatbot-toggler i.fa-xmark {
    display: none;
}

.show-chatbot .chatbot-toggler i.fa-xmark {
    display: inline;
}

.chatbot {
    position: fixed;
    right: 35px;
    bottom: 90px;
    width: 420px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
}

.chatbot button label {
    display: block;
    max-width: 100%;
    margin: 0;
    font-weight: inherit;
    line-height: 40px;
}

.chatbot button:not(:disabled) label {
    cursor: pointer;
}
.chatbot button {
    align-items: center;
    appearance: none;
    background-color: #add8e6;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0,
        rgba(0, 0, 0, 0.12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #f7f7f7;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    justify-content: center;
    letter-spacing: 0.25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 0 4px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms,
        transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
    min-width: 80px;
}

.chatbot button:disabled {
    background-color: #75858a;
    cursor: auto;
}
.chatbot button:not(:disabled) {
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.chatbot button:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0, rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.chatbot button:not(:disabled) {
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
.chatbot button:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0, rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.chatbot button:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
.chatbot button:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.chatbot header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    color: #fff;
    background: #34495e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h2 {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.chatbot .chat-box {
    overflow-y: auto;
    height: 510px;
    padding: 30px 20px 100px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.chatbot :where(.chat-box, textarea)::-webkit-scrollbar {
    width: 6px;
}

.chatbot :where(.chat-box, textarea)::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
}

.chatbot :where(.chat-box, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.chat-box .outgoing {
    margin: 0;
    justify-content: flex-end;
}

.chat-box .outgoing {
    border-radius: 10px 10px 0 10px;
    background: #34495e;
    margin-left: auto;
}

.chat-box .chat p.error {
    color: #721c24;
    background: #f8d7da;
}

.chat-box .chat {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
    list-style: none;
    padding: 12px 16px;
    color: #fff;
    white-space: pre-wrap;
    font-size: 14px;
    width: 75%;
}

.chat-box .incoming {
    border-radius: 10px 10px 10px 0;
    color: #000;
    background: #f2f2f2;
    position: relative;
    margin-left: 30px;
}

.chat-box .incoming:before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="m10.5 15.5c0 .37-.1.7-.28 1-.34-.59-.98-1-1.72-1s-1.38.41-1.72 1c-.17-.3-.28-.63-.28-1 0-1.1.9-2 2-2s2 .9 2 2m12.5-.5v3c0 .55-.45 1-1 1h-1v1c0 1.11-.89 2-2 2h-14c-1.1 0-2-.89-2-2v-1h-1c-.55 0-1-.45-1-1v-3c0-.55.45-1 1-1h1c0-3.87 3.13-7 7-7h1v-1.27c-.6-.34-1-.99-1-1.73 0-1.1.9-2 2-2s2 .9 2 2c0 .74-.4 1.39-1 1.73v1.27h1c3.87 0 7 3.13 7 7h1c.55 0 1 .45 1 1m-2 1h-2v-2c0-2.76-2.24-5-5-5h-4c-2.76 0-5 2.24-5 5v2h-2v1h2v3h14v-3h2zm-5.5-2.5c-1.1 0-2 .9-2 2 0 .37.11.7.28 1 .34-.59.98-1 1.72-1s1.38.41 1.72 1c.18-.3.28-.63.28-1 0-1.1-.89-2-2-2z"/></svg>');
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    bottom: 5px;
}

.chatbot .chat-input {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
}

.chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 8px 15px 8px 0;
    font-size: 16px;
}

.chat-input i {
    align-self: flex-end;
    color: #34495e;
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    font-size: 18px;
    align-self: center !important;
    height: fit-content;
    display: none;
}

.typing {
    width: 5em;
    height: 2em;
    position: relative;
    padding: 10px;
    margin-left: 5px;
    background: #e6e6e6;
    border-radius: 20px;
    position: absolute;
    bottom: 80px;
    left: 20px;
}

.typing__dot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #8d8c91;
    border-radius: 50%;
    opacity: 0;
    animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
    animation-delay: 0s;
}

.typing__dot:nth-child(2) {
    animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loadingFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

/* CSS for loading indicator */
@keyframes dotPulse {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

.typing-indicator {
    display: inline-block;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #353535;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    animation: dotPulse 1s infinite;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

#chatbot-wrapper input.datepicker {
    width: 0;
    height: 0;
    padding: 0;
    border: none;
    position: absolute;
    overflow: hidden;
}

.chosen-drop {
    display: flex;
    flex-direction: column;
}

#send-attachments {
    display: none;
}
